<div id="footer-wrapper">

    <div class="or-spacer">
        <div class="mask"></div>
    </div>
    <div class="_95">
        <div class="_30">
            <div class="_100 ">
                <div class="_propoTitle">À propos <hr class="hr-custom"></div>
                <p class="_propo">La plateforme LEADER est un système de gestion d’établissements scolaires complets.  
                Il constitue le trait d’union entre la direction de l’établissement, le cadre d’enseignement,les parents et les élèves . LEADER couvre les niveaux d’études à partir des classes de bases jusqu’à secondaires.</p>

            </div>
        </div>
        <div class="or-spacer-vertical right">
            <div class="mask"></div>
        </div>
        <div class="_30">
            <div class="_100">
                <div class="_propoTitle">Contact<hr class="hr-custom"></div>
                <p class="_propo">
                    <b>Adresse &nbsp;&nbsp;</b>
                    Rue Massoudi Chotrana3 , La Soukra
                    <br><b> L'assistance technique de LEADER est disponible 24/24
                        et 7j/7j, vous pouvez nous contacter par: </b>
                    <br><b>Email:&nbsp;&nbsp;</b>
                    <a href="inscription@cplp-leaders.tn">inscription@cplp-leaders.tn</a> 
                     
                    <br><b>Tél/Fax :&nbsp;&nbsp;</b> +216 56 373 839
                </p>
                
            </div>

        </div>
        <div class="or-spacer-vertical right">
            <div class="mask"></div>
        </div>
        <div class="_30">
            <div class="_100">
                <div class="_propoTitle">Suivez nous<hr class="hr-custom"></div> <p class="_propo">
                    <a href="https://www.facebook.com/leadercollegelycee/" target="_blank"><img src="assets/img/facebook.png"></a>
                    <a href="https://twitter.com/Educanet3" target="_blank"><img src="images/twitter_64x64.png"></a>
                    <a href="http://www.youtube.com/watch?v=1QX1EU9tY-8" target="_blank"><img src="images/youtube_64x64.png"></a>
                </p>

            </div>
        </div>
    </div>

</div>