<app-user></app-user>
 
<div class="container">
  <div class="card-panel teal lighten-2">
    <div class="jumbotron">
      <h1 class="display-3">WELCOME!</h1>
      <p class="lead">Bienvenue dans notre plateforme educative privee</p>
      <hr class="my-4">
      <p>La plateforme est une solution de recherche, de partage et de collaboration 
         qui rend tous les acteurs pleinement informes sur les nouveautes et les activites de l'etablissement.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>  

<div class="container">
    <img src="assets/img/eleves.jpg">
</div>

<div class="card-panel teal lighten-2">
  <div class="jumbotron">
    <div class="row recent-work margin-bottom-40">
        <div class="col-md-12">
            <h2><a href="#" routerLink="/parents">Accès « Parent » : </a></h2>
            <hr class="my-4">
            <p>Avec <strong>Leader</strong> , vos enfants sont entourés, suivis tous les jours au cours de leurs parcours scolaires. Via votre compte « parent », vous pourrez suivre l’emploi du temps, les devoirs, les appréciations des enseignants de vos enfants, ainsi que vous accédez aux évènements scolaires organisés.</p>
        </div>  
    </div>
</div>
</div>